.notSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  height: 616px;
  width: 1016px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.boxLeft {
  width: 200px;
  height: 616px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.boxLeft div#bot1 {
  width: 90%;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 187, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

div.boxLeft div#bot1 span {
  font-family: "Ubuntu";
  font-size: 26px;
  color: #000;
}

div.boxLeft div#bot2 {
  width: 90%;
  height: 60px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

div.boxLeft div#bot2 span {
  font-family: "Ubuntu";
  font-size: 26px;
  color: #000;
}

div.boxLeft div#bot3 {
  width: 90%;
  height: 60px;
  background: linear-gradient(
    68.3deg,
    rgba(245, 177, 97, 1) 0.4%,
    rgba(236, 54, 110, 1) 100.2%
  );
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

div.boxLeft div#bot3 span {
  font-family: "Ubuntu";
  font-size: 26px;
  color: #000;
}

div.boxLeft div#bot4 {
  width: 90%;
  height: 60px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 20px;
}

div.boxLeft div#bot4 svg {
  font-size: 30px;
  color: #fff;
  margin: 0 auto;
}

.boxCenter {
  width: 616px;
  height: 616px;
  display: flex;
  flex-direction: column;
}

div.boxCenter div#line {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin: 2px;
}

.boxRight {
  width: 200px;
  height: 616px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.boxRight div#bot {
  width: 90%;
  height: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 187, 0, 1) 100%
  );
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-left: 10%;
}

div.boxRight div#bot span {
  font-family: "Ubuntu";
  font-size: 18px;
  color: #222;
  font-weight: 500;
}
